<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sets</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <!-- Navigation Bar -->
  <%- include('partials/navbar', {page:'/lego/sets'}) %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Lego Collection</h1>
            <p class="py-6">Browse the entire collection. Click the theme to filter by themes
              such as:
              <a href="/lego/sets?theme=Technic" class="btn btn-outline btn-info btn-xs">Technic</a>
              <a href="/lego/sets?theme=Classic Town" class="btn btn-outline btn-info btn-xs">Classic Town</a>
              <a href="/lego/sets?theme=Supplemental" class="btn btn-outline btn-info btn-xs">Supplemental</a>
            </p>
          </div>
        </div>
      </div>

      
      <div class="overflow-x-auto overflow-y-hidden">
        <% sets.forEach(legoSet=>{ %>
          <table class="table table-zebra">
            <tbody>
              <tr>
                <td>
                  <div class="avatar">
                    <div class="w-32 h-32 rounded-lg bg-transparent bg-no-repeat bg-cover "
                      style="background-image: 							url(<%=legoSet.img_url%>);">
                    </div>
                  </div>
                </td>
                <td>
                  <%= legoSet.name%> <a href="/lego/sets?theme=<%=legoSet.Theme.name%>" class="btn mt-2 btn-xs">
                      <%=legoSet.Theme.name%>
                    </a>
                </td>
                <td>
                  <span class="font-bold">Year: </span>
                  <%=legoSet.year%> - <span class="font-bold">Parts:</span>
                    <%=legoSet.num_parts%>
                </td>
                <th>
                  <a href="/lego/sets/<%=legoSet.set_num%>" class="btn btn-xs">details</a>
                </th>
              </tr>
            </tbody>
          </table>
          <% }) %>
      </div>





</body>

</html>